---
import Layout from '@layouts/app.astro';
import { fetchUsers, fetchExercises, fetchLifts } from '@/src/data';
const lifts = await fetchLifts();
---

<Layout title="Lifts">
  {lifts.length === 0 && <p>No lifts found</p>}

  {
    lifts.length > 0 &&
      lifts.map((lift) => (
        <div class="flex">
          <div class="p-2 flex-1 w-1/2">{lift.exer_name}</div>
          {/* <div class="p-2">{lift.exer_name}</div> */}
          <div class="p-2">{lift.weight}</div>
          <div class="p-2">{lift.reps}</div>
          <div class="p-2">{lift.comments}</div>

          <div class="p-2">
            <form
              action={'/app/lifts/' + lift.lift_id + '/delete'}
              method="POST"
            >
              <button
                type="submit"
                class="bg-gray-500 text-white text-xs px-1 py-0.5 font-mono rounded-sm cursor-pointer"
                onclick={
                  "return confirm('Are you sure you want to delete this lift?')"
                }
              >
                Delete
              </button>
            </form>
          </div>
        </div>
      ))
  }
</Layout>
